aws_access_key_id     = "example"
aws_secret_access_key = "example"
snowflake_account     = "example"
snowflake_region      = "example"
snowflake_username    = "example"
snowflake_password    = "example"
snowflake_role        = "example"
snowflake_warehouse   = "example"
snowflake_database    = "example"
snowflake_schema      = "example"
propel_client_id      = "example"
propel_client_secret  = "example"
